<div class="box">
    <div class="title_center">
        <h1>Seja bem vindo, visitante!</h1>
    </div>
    <div class="center">
        <h4>Este projeto é 100% gratuito!</h4>
    </div>
    <form action="/auth" class="my-button">
        <button class="btn btn-primary col-3">
            Entre com seu Discord
        </button>
    </form>
    <div class="center">
        <p>Caso queira logar com sua conta do Discord, clique no botão acima.</p>
    </div>

</div>