<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            Bem-vindo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#pagina">Inicio</a>
                <a class="nav-link disabled" href="#">Projetos</a>
                <a class="nav-link disabled" href="#">Outros</a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <form action="/auth">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

</div>